@import '../../static/_global.scss';

.menu-item {
    text-align: left;
    border-radius: 10px;
    @include center-child;

    .nav-link {
        padding: 10px;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
    }

    &:hover {
        background-color: $light-gray;
    }
}