@import '../../static/_global.scss';

.drop-down-menu {
    position: absolute;
    top: 110%;
    box-shadow: 0 -2px 8px 0 $gray-shadow;
    padding: 8px;
    border-radius: 16px;
    background: $white;
}