
.content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    &.overlay::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:rgba(83, 83, 83, 0.5);
    }

    .images-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .child {
            width: calc(100% / 8);
            aspect-ratio: 9 / 16;
            border-radius: 32px;
            background: rgb(118, 66, 7);
        }
    }
}