@import '../../static/_global.scss';

.search-bar {
    flex-grow: 1;
    padding: 0 6px;
    position: relative;

    .search-box {
        width: 100%;
        height: 100%;
        background-color: $light-gray;
        font-size: 16px;
        padding: 0 48px;
        border-radius: 26px;
        transition: all 0.15s ease-out;
    }
    
    .search-box:focus-within {
        padding-left: 12px;
        border: 4px solid $blue-active;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 8px 8px;
        left: 16px;
        color: $medium-gray;
    }

    .close-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 6.5px 10.5px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .close-icon:hover {
        border-radius: 50%;
        background-color: #d6d6d6;
    }

    .search-related {
        position: absolute;
        background-color: $white;
        top: 100%;
        left: 24px;
        right: 24px;
    }
}